--extra-index-url https://download.pytorch.org/whl/cu117

pycaret[full]
pandas
numpy
matplotlib
seaborn
plotly
scikit-learn
xgboost
pyro-ppl
torch
einops
torch_optimizer

tqdm
jupyter-dash
black
isort
jupyterlab
ipywidgets
ipympl
kaggle
jupyterlab-code-formatter
jupyterlab-git
gpustat
pydot
pygraphviz